.nav{
	background-color: #3F3C3B;
	color: white;
	padding-left: 10em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.nav h1 a{
	color: white !important;
}

.nav h1 a:hover{
	text-decoration: none !important;
}

.nav-item{
	background-color: #3F3C3B;
	padding-left: 10em;
	padding-top: 2em;
}

.nav-item ul li{
	text-decoration: none;
	display: inline-block;
	margin-left: 1em;
}

.nav-item ul li a{
	color: white;
	font-size: 20px;
	padding: 0.5em 0.5em;
}

.nav-item ul li a:hover{
	background-color: white;
	color: black;
	padding: 0.5em 0.5em;
	text-decoration: none !important;
}

.header{
	background-color: #FC946E;
	background-image: url("../images/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 13em;
}

.father{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding-top: 8em;
}

.son{
	background-image: url("../images/profile.jpeg");
    background-repeat: repeat;
    background-position: center;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    background-size: 75% auto;
    height: 200px;
    width: 200px;
}

.photo{
	background-color: white;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.text{
	color: white;
	text-align: center;
}

.about{
	background-image: url("../images/about.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 6em;
	padding-left: 2em;
	padding-right: 2em;
}

.about h2{
	margin-bottom: 2em;
}

.about hr{
	border-top: 2px solid orange;
	margin-bottom: 2em;
	width: 50px;
}